<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario enviado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <main>
        <h1>Formulario enviado</h1>
        <hr>
        <p>Seu formulario foi enviado com sucesso</p>
        <a href="{{ url_for('formulario') }}">Voltar para o formulário</a>

    </main>
</body>
</html>